
div.spinner div {
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid gray 5px;
    border-bottom-color: transparent;
    border-right-color: transparent;
    animation: spinner 800ms linear infinite;
}
  

 
@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
}